*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    /* header start */

    header {
        background-image: url(design-assets/bgk-header.png);
        background-size: cover;
        background-position: center;
        padding: 40px;
        
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .first-container .logo p {
        color: #34D7DF;
        font-weight: 100;
        font-size: 1.5rem;

    }

    .first-container {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

    nav ul {
        display: flex;
        gap: 20px;
        text-transform: uppercase;
    }

    .first-container nav ul li {
        list-style: none;
       
    }

    .first-container  nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    .first-container  nav ul li a:hover{
        color: #34D7DF;
    }


#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#hero-section h1 {
    max-width: 500px;
    color: white;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    
 }

 #hero-section p {
    line-height: 1.6;
 }


 .underlined{
    position: relative;
    display: inline-block;
}

.underlined::after {
   
    content: "";
    display: block;
    width: 15%; /* 15% width relative to the content of h1 */
    height: 2px; /* Adjust this value to control the thickness of the line */
    background-color:  #34D7DF;/* Adjust the color to your preference */
    position: absolute;
    bottom: -10px; /* 10px away from the text */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}


 #hero-section p {
    max-width: 500px;
    color: white;
    margin-bottom: 2.5rem;
    font-weight: 200;
 }

 #hero-section button{
    
    border: 1px solid #34D7DF;
    width: fit-content;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 2.5rem;
 }

 #hero-section button a {
    color: #34D7DF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
 }

 #hero-section button a:hover{
    color: white;
 }

/* header end */

.ourstory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 30px;
}

#big_logo {
    flex: 0 0 25%;
    margin: 20px;
    max-width: 25vh;
    max-height: 25vh;
}

.OurStoryDiv {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#OurStoryTitle {
    text-align: center;
    padding-bottom: 2rem;
}

#OurStoryText {
    max-width: 65%;
    margin: auto;
    text-align: center;
}

#OurstoryText2 {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

#LearnMoreButton {
    align-self: center;
    margin-top: 5vh;
    width: 15vh;
    color: green;
    background-color: transparent;
    border: 2px solid green;
    padding: 10px;
    font-size: large;
}
#watch-section-img{
    display: flex;
    width: 100%;
}
#watch-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
#play-button{
    position: absolute;
    width:  100px;
    height: 100px;
    width:auto;
  }

#play-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#StoryWatch{
    position: absolute;
    color: white;
    white-space: nowrap;
    text-align: center;
    bottom:30%;
    left: 50%;
    transform:translateX(-50%);
}

#expertise-section{
    color: fuchsia;
}
#team-section{
    color: yellowgreen;
}
#contact_client-section{
    color: lightsalmon;
}
footer{
    color: blueviolet;
}