*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    /* header start */

    header {
        background-image: url(design-assets/bgk-header.png);
        background-size: cover;
        background-position: center;
        padding: 40px;
        
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .first-container .logo p {
        color: #34D7DF;
        font-weight: 100;
        font-size: 1.5rem;

    }

    .first-container {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

    nav ul {
        display: flex;
        gap: 20px;
        text-transform: uppercase;
    }

    .first-container nav ul li {
        list-style: none;
       
    }

    .first-container  nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    .first-container  nav ul li a:hover{
        color: #34D7DF;
    }


#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#hero-section h1 {
    max-width: 500px;
    color: white;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    
 }

 #hero-section p {
    line-height: 1.6;
 }


 .underlined{
    position: relative;
    display: inline-block;
}

.underlined::after {
   
    content: "";
    display: block;
    width: 15%; /* 15% width relative to the content of h1 */
    height: 2px; /* Adjust this value to control the thickness of the line */
    background-color:  #34D7DF;/* Adjust the color to your preference */
    position: absolute;
    bottom: -10px; /* 10px away from the text */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}


 #hero-section p {
    max-width: 500px;
    color: white;
    margin-bottom: 2.5rem;
    font-weight: 200;
 }

 #hero-section button{
    
    border: 1px solid #34D7DF;
    width: fit-content;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 2.5rem;
 }

 #hero-section button a {
    color: #34D7DF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
 }

 #hero-section button a:hover{
    color: white;
 }

/* header end */

.ourstory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 30px;
}

#big_logo {
    flex: 0 0 25%;
    margin: 20px;
    max-width: 25vh;
    max-height: 25vh;
}

.OurStoryDiv {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#OurStoryTitle {
    text-align: center;
    padding-bottom: 2rem;
}

#OurStoryText {
    max-width: 65%;
    margin: auto;
    text-align: center;
}

#OurstoryText2 {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

#LearnMoreButton {
    align-self: center;
    margin-top: 5vh;
    width: 15vh;
    color: green;
    background-color: transparent;
    border: 2px solid green;
    padding: 10px;
    font-size: large;
}
#watch-section-img{
    display: flex;
    width: 100%;
}
#watch-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
#play-button{
    position: absolute;
    width:  100px;
    height: 100px;
    width:auto;
  }

#play-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#StoryWatch{
    position: absolute;
    color: white;
    white-space: nowrap;
    text-align: center;
    bottom:30%;
    left: 50%;
    transform:translateX(-50%);
}

#expertise-section{
    color: fuchsia;
}
#team-section{
    color: yellowgreen;
}
#contact_client-section{
    color: lightsalmon;
}
footer{
    width: 100vw;
    color: white;
    background-image: url(design-assets/bgk-footer.png);
    background-repeat: no-repeat;
    background-color: #46366c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#logo-footer{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
#logo-footer > h2{
    font-weight: 100;
    font-size: 30px;
    color: linear-gradient(to right, #00e0d0 0%,#4aa3cc 100%);

}
#footer > h1{
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    font-weight: 900;
}
.adress-and-phone{
    grid-area: 2 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.address{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.address > address{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}
.phone_number{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}
.phone_number > h3{
     font-size: 14px;
    font-weight: 300;
    font-style: normal;
}
.social_media-icons{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
#social-icons{
    width: 50px;
    height: 50px;
}
.social-icons:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#copyright-footer{
    grid-area: 3 / 3 / 4 / 4; 
}
#text-footer{
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    max-width: 20rem;
}
#email-input{
    background: none;
    border: 1px solid white;
    padding-right: 4rem;
    padding-left: 1rem;
    max-height: 3rem;
}
::placeholder{
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 1em;

}
#button-footer{
    background-color: white;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    opacity: 0.5;
}
.email-input{
    display: flex;
    gap: 1rem;
    opacity: 0.5;
}
#email-input{
    color: white;
}
.footer-form{
    grid-area: 2 / 3 / 4 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.links-footer{
    grid-area: 4 / 1 / 5 / 3; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
}
.links-footer > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
#copyright-footer{
    grid-area: 4 / 3 / 5 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30%;
}